h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px;
}

#grid-size {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#grid.hidden,
#grid-size.hidden {
    display: none;
}

#grid-size .modal {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}